.active {
  border: 2px solid rgb(213, 198, 198);
  border-radius: 5px;
  color: gray;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 600;
  width: fit-content;
  padding-block: 3px;
  padding-inline: 7px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.activespan {
  width: 6px;
  height: 6px;
  background-color: green;
  border-radius: 50%;
}

.inactive {
  background-color: red;
}

.busy {
  background-color: rgb(5, 52, 169);
}

.onleave {
  background-color: yellow;
}

.active:hover {
  cursor: pointer;
}

.statusDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-top: 10px;

  input {
    border: 1px solid rgb(221, 212, 212);
    border-radius: 5px;
    color: gray;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: 600;
    width: fit-content;
    padding-block: 3px;
    padding-inline: 7px;
    margin-inline: 10px;
  }
}

.statustypes {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-inline: 15px;
}

.addnewstatu {
  display: flex;
  gap: 5px;
  align-items: center;
  border-top: 2px solid gray;
  padding: 5px;
}
